[submodule "AutoSeg-SAM2"]
	path = AutoSeg-SAM2
	url = https://github.com/willipwk/AutoSeg-SAM2.git
[submodule "monst3r"]
	path = monst3r
	url = https://github.com/willipwk/monst3r.git
[submodule "PromptDA"]
	path = PromptDA
	url = https://github.com/willipwk/PromptDA.git
[submodule "Grounded-SAM-2"]
	path = Grounded-SAM-2
	url = https://github.com/willipwk/Grounded-SAM-2.git
[submodule "NKSR"]
	path = NKSR
	url = https://github.com/nv-tlabs/NKSR.git
